In [1]:
print('hello')

hello

In [2]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com

In [4]:
for i,j in x.items():
    print(i+';'+j)

Christopher Brooks;brooksch@umich.edu
Bill Gates;billg@microsoft.com

In [5]:
import datetime as dt
import time as tm

In [6]:
tm.time()

1544718920.178794

In [7]:
dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 12, 13, 22, 7, 4, 103369)

In [8]:
dtnow.year

2018

In [9]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [10]:
person = Person()
person.set_name('Christopher Brooks')

In [11]:
print(person)

<__main__.Person object at 0x000000EDE34A5240>

In [12]:
print(person.name)

Christopher Brooks

In [13]:
person.set_location('Ann Arbor, MI, USA')
print(person.location)

Ann Arbor, MI, USA

In [14]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [15]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

In [20]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split(' ')

In [21]:
split_title_and_name(people)

AttributeError: 'list' object has no attribute 'split'

In [28]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    for i in person:
        print(i.split(' '))